.victim-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: flex-start;
}

/*-------- Main Content Styling --------*/
.body {
  display: flex;
  flex-direction: row;
}

.service-info {
  flex: 2;
  align-items: center;
  display: flex;
  flex-direction: column;
}
.service-info select {
  height: 30px;
  width: 200px;
}
.service-list {
  text-align: center;
}
.service-info button {
  margin: 10px;
}
