.volunteer-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  place-items: flex-start;
}

/*-------- Header Bar Styling --------*/
.top-bar {
  display: flex;
}
.welcome {
  flex: 1;
  font-size: 24px;
  font-weight: bold;
  margin: 0;
  margin-left: 10px;
}
.shelter-info {
  display: flex;
  flex-direction: column;
  place-items: center;
}
.shelter-info h3,
.shelter-info p {
  margin: 4px 0;
  line-height: 1.2;
}

hr {
  width: 100%;
}
/*-------- Main Content Styling --------*/
.body {
  display: flex;
  flex-direction: row;
  width: 100%;
}

/*-------- Skills & Service Styling --------*/
.skill-service {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  flex: 2;
  padding-left: 10px;
}
.skill-service div {
  display: flex;
  align-items: center;
}
.skill-service h4 {
  line-height: 0.5;
}
.skill-service p {
  margin: 5px;
  padding: 3px;
}
.skill {
  display: flex;
  flex-wrap: wrap;
}

/*-------- Shift Table Styling --------*/
.shift-info {
  flex-direction: column;
  text-align: left;
  align-self: flex-start;
  margin: 5px;
}
.shift-info h3 {
  margin-top: 0px;
  text-align: center;
  margin-bottom: 10px;
}

/*-------- Resource Table Styling --------*/
.resource-info {
  flex: 2;
  margin: 5px;
}
.resource-info h3 {
  text-align: center;
  margin-top: 0px;
  margin-bottom: 10px;
}

/*-------- General Table Styling --------*/
.table {
  border-collapse: collapse;
  min-width: 250px;
}
.table th,
.table td {
  border: 1px solid #000000;
  padding: 8px 15px;
  text-align: center;
}
